<section class="container mx-auto mt-5">
    <h2 class="text-3xl font-bold mb-2">Propiedades</h2>
    <h3 class="text-xl text-gray-500 mb-2">{{ houses().length }} Propiedades disponibles</h3>
</section>

<section class="container mx-auto mt-10 grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 gap-2">
    @for (property of houses(); track property.id; let i = $index) {
        <div class="card bg-base-100 shadow-sm rounded-t-md overflow-hidden border">
            <app-mini-map [lngLat]="property.lngLat" [zoom]="14" />
            <div class="card-body">
                <h2 class="card-title">
                    {{ property.name }}
                    @if (i === 1) {
                        <div class="badge badge-secondary">NUEVO</div>
                    }
                </h2>
                <h3 class="card-title">$ {{ property.price | number }}</h3>
                <p>
                    {{ property.description }}
                </p>
                <div class="card-actions justify-end">
                    @for (tag of property.tags; track $index) {
                        <div class="badge badge-outline badge-accent">{{ tag }}</div>
                    }
                </div>
            </div>
        </div>
    }
</section>
